@import "mixins";
@import "var";

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3.25vh;
  grid-template-areas: "r-col__left r-col__right""r-footer r-footer";
  background-color: #f5f5f6;
}

.r-col__left {
  grid-area: r-col__left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  padding-right: rem(40);

  .r-logo, .r-slogan, .r-picture {
    display: flex;
    justify-content: center;
    width: 23.75vw;
    box-sizing: border-box;
  }

  .r-slogan {
    padding-top: rem(20);
    padding-bottom: rem(40);

    h2 {
      text-align: center;
      font-size: rem(24);
      font-weight: normal;

      span {
        font-weight: bold;
        color: $green-dark;
      }
    }
  }

  .r-logo, .r-picture {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.r-col__right {
  grid-area: r-col__right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  padding-left: rem(40);

  .r-login__header, .r-login__form {
    width: 23.75vw;
    box-sizing: border-box;
    padding: 0 rem(10);
  }

  .r-login__header {
    padding-bottom: rem(10);
    border-bottom: rem(1) solid $gray-80;
    box-shadow: 0 rem(1) 0 0 rgba($white, 0.7);

    h2 {
      font-weight: normal;
    }

    p {
      font-size: rem(14);
    }
  }
  .r-login__form {
    padding-top: rem(20);
    padding-bottom: rem(20);
    flex: 0 1 39vh;

    form {
      display: none;

      &.active {
        display: block;
      }

      input[type=email], input[type=text], input[type=password] {
        width: 100%;
      }

      .r-form__email, .r-form__login {
        position: relative;
        margin-bottom: rem(15);
      }

      .r-form__password {
        position: relative;
        margin-bottom: rem(10);

        a {
          position: absolute;
          top: rem(7);
          right: rem(10);

          .r-password__show {
            fill: $gray-80;

            &:hover {
              fill: $gray-50;
            }
          }
        }
      }

      .r-form__agreement {
        position: relative;
        font-size: rem(12);
        margin-bottom: rem(15);

        input[type=checkbox] {
          display: none;
        }

        input[type=checkbox]:checked + label:before {
          background-position: 0 -26px;
        }

        label {
          display: inline-block;
          cursor: pointer;
          position: relative;
          padding-left: rem(20);
          line-height: rem(18);

          &:before {
            content: ' ';
            width: rem(16);
            height: rem(16);
            position: absolute;
            left: 0;
            background: url("../img/sprite_checkbox.png") no-repeat;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }

      .r-form__btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: rem(25);

        input[type=submit] {
          flex: 0 1 rem(170);
        }
      }

      .r-form__forgot {
        font-size: rem(12);

        a:hover {
          text-decoration: underline;
        }
      }

      .r-form__tooltip {
        display: none;
        position: absolute;
        left: rem(12);
        top: rem(-40);
        color: $red;
        font-size: rem(14);
        padding: rem(10);
        background-color: #fef6f4;
        box-shadow: 0 rem(2) rem(4) 0 rgba($black, 0.2);
      }
    }
  }

  .r-login__social {
    width: 23.75vw;
    text-align: center;
    box-sizing: border-box;

    h3 {
      font-size: rem(16);
      font-weight: normal;
      padding: 0 rem(10) rem(10) rem(10);
      border-bottom: rem(1) solid $gray-80;
      box-shadow: 0 rem(1) 0 0 rgba($white, 0.7);
    }

    ul {
      display: flex;
      justify-content: space-between;
      padding: rem(20) rem(15);

      li {
        flex: 0 0 auto;
        height: rem(50);
        width: rem(50);
        background-color: $white;
        border: rem(5) solid $gray-80;
        box-shadow: inset 0 rem(2) 0 0 rgba($black, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: $green;
          box-shadow: inset 0 rem(3) rem(1) 0 rgba($green-dark, 0.5);

          .r-social__ico {
            fill: $white;
          }
        }

        .r-social__ico {
          fill: $gray-50;
        }
      }
    }

    p {
      font-size: rem(12);
    }
  }
}

.r-footer {
  grid-area: r-footer;
  background-color: #2f332e;
  font-size: rem(14);
  color: $white;
  text-align: center;
  line-height: 3.25vh;
  vertical-align: middle;
}